export MONITOR_TO_ADDRESS="your_email@example.com"
export MONITOR_USERNAME="your_email@example.com"
export MONITOR_PASSWORD="REPLACE_ME"

export WANDB_API_KEY="REPLACE_ME"
export HF_TOKEN="REPLACE_ME"

export MESSAGE_PUSHER_TOKEN="REPLACE_ME"
export MESSAGE_PUSHER_SERVER="https://push.justsong.cn"
export MESSAGE_PUSHER_USERNAME="your_name"
